.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(
      -18px
    ); /* Adjust this value for the desired floating distance */
  }
}

.logo {
  width: 200px; /* Base size for logo */
  height: auto;
}

.home-text h1 {
  font-size: 2.5rem; /* Base font size */
  font-weight: bold;
}

/* Media queries */
@media (min-width: 768px) {
  .logo {
    width: 300px; /* Medium devices */
  }
  .home-text h1 {
    font-size: 3.5rem; /* Medium devices */
  }
}

@media (min-width: 992px) {
  .logo {
    width: 400px; /* Large devices */
  }
  .home-text h1 {
    font-size: 4.5rem; /* Large devices */
  }
}

@media (min-width: 1200px) {
  .logo {
    width: 500px; /* Extra large devices */
  }
  .home-text h1 {
    font-size: 5.5rem; /* Extra large devices */
  }
}
