/*----------------
    Fonts
-------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/*----------------
    Global css
-------------------*/

:root {
    /* #6b51f0*/
    /*a200ff*/
    --main-color: #111810;
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
    --black-900: #000;
    --black-400: #555;
    --black-100: #f7f7f7;
    --black-000: #fff;
    --black-alpha-100: rgba(0, 0, 0, 0.05);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #fff;
    line-height: 1.5;
}



* {
    margin: 0;
    padding: 0;
    outline: none !important;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

.btn-1 {
    background-color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
}

.btn-1:focus {
    box-shadow: var(--shadow-black-300);
}

.btn-1:hover {
    color: #fff;
    background-color: var(--main-color);
}

@keyframes spin_01 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounceTop_01 {
    0%,
    100% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(0px);
    }
}

@keyframes pulse_01 {
    0% {
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
    }
    100% {
        transform: scale(0.94);
        box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes zoomInOut_01 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.effect-wrap .effect {
    position: absolute;
    z-index: -1;
}

.effect-wrap .effect-1 {
    left: 20%;
    top: 20%;
    font-size: 20px;
    color: var(--color-2);
    animation: spin_01 5s linear infinite;
}

.effect-wrap .effect-2 {
    right: 5%;
    top: 10%;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.5);
    animation: spin_01 7s linear infinite;
}

.effect-wrap .effect-3 {
    left: 5%;
    bottom: 30%;
    font-size: 20px;
    color: var(--color-3);
    animation: bounceTop_01 5s linear infinite;
}

.section-padding {
    padding: 80px 0;
}

.section-title {
    margin-bottom: 60px;
}

.section-title  h2{
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
    color: black;
    margin-bottom: 15px;
}    


.owl-carousel .owl-dots {
    padding: 0 15px;
    text-align: center;
    margin: 20px;
}

.owl-carousel button.owl-dot {
    height: 6px;
    width: 24px;
    background-color: #ddd;
    display: inline-block;
    margin: 0 4px;
    border-radius: 5px;
}

.owl-carousel button.owl-dot.active {
    background-color: var(--main-color);
}


/**********************
    Preloader
**********************/




/*----------------
    Navbar
-------------------*/

.navbar {
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    background-color: rgba(255, 255, 255, 0.3); 
    transition: all 0.5s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    padding: 10px 0; 
    position: fixed; /* Fix the navbar at the top */
    width: 100%;
    z-index: 1000;
}

/* Sticky navbar styles */
.navbar.sticky {
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    background-color: rgba(255, 255, 255, 0.6); /* Slightly less transparent when sticky */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 0;

}

/* Container padding */
.navbar>.container {
    padding: 0 15px;
}

/* Navbar brand styles */
.navbar{
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
}

.navbar-brand{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0px;
}
/* Nav item margin */
.navbar .nav-item {
    margin-left: 40px;
}

/* Nav link styles */
.navbar .nav-item .nav-link {
    color: black;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
    position: relative;
    
}

/* Nav link hover and active states */
.navbar .nav-item .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: black;
    transition: all 0.5s ease;
    transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
    transform: scale(1);
}

/* Ensure the content below the navbar gets blurred */
.content {
    margin-top: 70px; /* Adjust this to match the height of your navbar */
    position: relative;
    z-index: 1;
}

/* Content blur effect when scrolling */
.content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    z-index: -1;
}


/*----------------
    Home Section
-------------------*/

.home {
    min-height: 100vh;
    padding: 150px 0;
    background-color: white;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}


img {
    max-width: 80px;
    width: 100%;
    box-shadow: var(--shadow-black-100);
    border-radius: 50%;
    animation:  3s ease infinite;
    background-color: hide;
}


.home-text h1 {
    font-size: 85px;
    font-weight: 700px;
    color: black;
    margin-left: 80px;
    text-align: center;
}


.home .bubble {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}


.home .bubble img {
    max-width: 100%;
    height: auto;
}

.home-text {
    
    text-align: end;
    text-transform: uppercase;
}

.home-text h1 {
    font-size: 80px;
    font-weight: 700;
    color: #333;
}


/*----------------
    App Download
-------------------*/

.app-download {
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    background-color: white;
    z-index: 1;
}


.app-download::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}


.services-item {
    background: linear-gradient(to right bottom, #9e66c6, #6027e1);
    color: white;
    padding: 30px;
    text-align: center;
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adjust shadow properties as needed */
}

.services-item i {
    font-size: 30px;
    color: var(--main-color);
    display: inline-block;
}

.services-item h3 {
    font-size: 22px;
    color: white;
    margin: 20px 0;
    font-weight: 500;
    text-transform: capitalize;
}

.services-item p {
    font-size: 16px;
    color: white;
    font-weight: 300;
    margin: 0 0 30px;
    line-height: 26px;
}

.button-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 15px 0px 15px; /* Adjust padding inside button wrapper */
}

.button-wrapper button {
    display: block;
    width: 100%;
    background: #5da3f2 ;
    border: none;
    color: white;
    font: inherit;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.button-wrapper button:hover {
    background-color: #3f7dc5;

}


.about{
    color:black;;
    background-color:white; 
}


/*------------------------
   Get in touch section
--------------------------*/

.contact {
    background-color: rgba(29, 40, 58, 1);
    border: solid 2px rgba(72, 86, 106, 1);
}

.contact-info h3 {
    font-size: 22px;
    color: white;
    font-weight: 500;
    margin: 0 0 40px;
}

.contact-info-item {
    position: relative;
    padding-left: 55px;
    margin-bottom: 30px;
}

.contact-info-item i {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0;
    top: 0;
    border-radius: 50%;
    font-size: 16px;
    color: white;
    border: 1px solid white;
    text-align: center;
    line-height: 38px;
}

.contact-info-item h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 10px;
    color: white;
}

.contact-info-item p {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    line-height: 26px;
    color: white;
}

.contact-form .form-group {
    margin-bottom: 25px;
}

.contact-form .form-control {
    height: 52px;
    background-color: rgba(29, 40, 58, 1);
    border: solid 1px rgba(72, 86, 106, 1);
    border-radius: 10px;
    padding: 0 24px;
    color: var(--black-900);
    background-color: var(--black-000);
    transition: all 0.5s ease;
}

.contact-form textarea.form-control {
    height: 140px;
    padding-top: 12px;
    resize: none;
}

.contact-form .form-control:focus {
    border-color: var(--main-color)
}


/*------------------------
   Footer section
--------------------------*/

.footer {
    background-color: var(--main-color);
    padding: 50px 0 0;
}

.footer-col h3 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 25px;
    text-transform: capitalize;
}

.footer-col p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    line-height: 26px;
    margin: 0;
}

.footer-col ul {
    margin: 0;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    display: block;
    text-transform: capitalize;
    transition: all 0.5s ease;
    text-decoration: none;
}

.footer-col ul li a:hover {
    padding-left: 5px;
}

.footer .copyright-text {
    padding: 20px 0;
    text-align: center;
    font: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    margin: 50px 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}


@media (max-width: 1200px) {
  .bouncing-blobs-glass {
    backdrop-filter: blur(120px);
    -webkit-backdrop-filter: blur(120px);
  }
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
  }
  .nav-link {
    margin: 5px 0;
  }
}

@media (max-width: 500px) {
  .bouncing-blob {
    width: 60vw;
  }
  .bouncing-blob--white {
    width: 30vw;
  }
  .bouncing-blobs-glass {
    backdrop-filter: blur(90px);
    -webkit-backdrop-filter: blur(90px);
  }

} 

/* ********************
    Responsive
***********************/

@media(max-width:991px) {
    .navbar-toggler {
        background-color: var(--dark-to-main-color);
        box-shadow: var(--shadow-black-300);
        height: 34px;
        width: 44px;
        padding: 0;
        font-size: 17px;
        color: #fff;
    }
    .navbar-nav {
        background-color: var(--dark-to-main-color);
        box-shadow: var(--shadow-black-300);
    }
    .navbar .nav-item {
        margin: 0;
        padding: 5px 15px;
    }
    .navbar.navbar.sticky .navbar-nav {
        background-color: var(--main-color);
    }
    
    .home-text h1 {
        font-size: 40px;
    }
    .footer-col {
        margin-top: 30px;
    }
}

@media(max-width:767px) {
    .home-text {
        margin-bottom: 80px;
    }
    .fun-facts-img {
        margin-bottom: 30px;
    }
    .contact-form {
        margin-top: 20px;
    }
    .footer-col {
        margin-top: 30px;
    }
    .section-title h2 {
        font-size: 35px;
    }
    .fun-facts .section-title h2 {
        text-align: center;
    }
}

@media(max-width:575px) {
    .home-text h1 {
        font-size: 30px;
    }
    .home-text p {
        font-size: 16px;
    }
    .section-title h2 {
        font-size: 30px;
    }
}
